* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px;
}

.search-input {
  width: 85%;
  padding: 5px;
}

.list-container {
  list-style-type: none;
  padding-left: 20px;
}

.list-item {
  border-bottom: 1px solid black;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  margin: 1px;
}

.footer-container {
  padding: 20px;
}

.delete-selected {
  background-color: brown;
  border-radius: 14px;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  border: none;
}

.grey {
  background-color: grey;
  color: white;
}

/*
.app-container {
  height: 100vh;
  background-color: #011526;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.toggle-button {
  padding: 8px 12px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #2EC2B3;
  border-radius: 4px;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
} */
